<form class="py-5 bg-gradient">
    <div class="container w-75 bg-gradient mt-5 rounded shadow">
        <div class="row align-items-stretch">
          <div class="col bg-bag d-none d-lg-block col-md-5 col-xl-6 rounded">
    
          </div>
          <div class="col bg-white p-5 rounded-end">
            <div class="text-end">
              <img src="assets/images/logoo.png" width= "150" alt="">
            </div>
            <h2 class="fw-bold">Creación de maletas</h2>
         
        <!-- Creación de espacios para Login-->
            <form action="#">
            <div class="class mb-4">
              <label for="username" class="form-label">Ingresar nombre de Usuario</label><br>
              <input type="text" class="form-control" name="username"><br>
            </div>
            <div class="mb-4">
              <label for="color" class="form-label">Color de maleta</label><br>
              <input type="text" class="form-control" name="color"><br>
            </div>
            <div class="class mb-4">
                <label for="weight" class="form-label">Peso en kg</label>
                <input type="number" class="form-control" name="weight">
            </div>

            <div class="class mb-4">
                <label for="cost" class="form-label">Costo de la maleta en colones</label>
                <input type="number" class="form-control" name="cost">
            </div>

            <div class="class mb-4">
                <label for="number" class="form-label">Número de la maleta</label>
                <input type="number" class="form-control" name="cost">
            </div>
            
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Crear Maleta</button>
    
            </div>
           
          </form>
          
          </div>
        </div>
        
    </div>
      
</form>