<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Rol</th>
        <th scope="col">Cedula</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Mark Otto</th>
        <td>Scan</td>
        <td>745874625</td>
        
      </tr>
      <tr>
        <th scope="row">Pedro Soto</th>
        <td>Piloto</td>
        <td>468451452</td>
      </tr>
      <tr>
        <th scope="row">Adriana Arguedas</th>
        <td>Seguridad</td>
        <td>305478545</td>
      </tr>
    </tbody>
  </table>
  
