<form class="py-5 bg-gradient">
    <div class="container w-75 bg-gradient mt-5 rounded shadow">
        <div class="row align-items-stretch">
          <div class="col bg d-none d-lg-block col-md-5 col-xl-6 rounded">
    
          </div>
          <div class="col bg-white p-5 rounded-end">
            <div class="text-end">
              <img src="assets/images/logoo.png" width= "150" alt="">
            </div>
            <h2 class="fw-bold">Le damos la bienvenida a TABAS-Admin </h2>
         
        <!-- Creación de espacios para Login-->
            <form action="#">
            <div class="class mb-4">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="mb-4">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" name="password">
            </div>
            <div class="mb-4">
              <input type="checkbox" name="connected" class="form-check-input">
              <label for="connected" class="form-check-label">Mantener sesión iniciada</label>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    
            </div>
            <div class="my-3">
              <span>¿No tienes cuenta? <a href="#">Regístrate</a></span><br>
              <span><a href="#">Recuperar contraseña</a></span>
            </div>
          </form>
          
          </div>
        </div>
        
    </div>
      
</form>