<form class="py-5 bg-gradient">
    <div class="container w-75 bg-gradient mt-8 rounded shadow">
        <div class="row align-items-stretch">
          <div class="col bg-bagcart d-none d-lg-block col-md-16 col-xl-68 rounded">
    
          </div>
          <div class="col bg-white p-5 rounded-end">
            <div class="text-end">
              <img src="assets/images/logoo.png" width= "150" alt="">
            </div>
            <h2 class="fw-bold">Seleccione un BagCart y el vuelo al que lo quiere asignar </h2>
         
        <!-- Creación de espacios para Sign in-->
            <form action="#">

            <div class="class mb-1">
                <label for="role" class="form-label">Seleccione el BagCart</label>
            </div>

            <select class="form-select mb-4" aria-label="Default select example">
                <option selected>Seleccione su rol</option>
                <option value="1">1111</option>
                <option value="2">2222</option>
                <option value="3">3333</option>
                <option value="4">4444</option>
            </select>

            <div class="class mb-1">
                <label for="role" class="form-label">Seleccione el vuelo a asignar</label>
            </div>

            <select class="form-select mb-4" aria-label="Default select example">
                <option selected>Seleccione su rol</option>
                <option value="1">92F12</option>
                <option value="2">23R33</option>
                <option value="3">45T22</option>
                <option value="4">46L13</option>
            </select>

            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Asignar</button>
            </div>

          </form>
          
          </div>
        </div>
        
    </div>
      
</form>
