<div class="row">
    <div class="col">
        <button (click)="goToPage('Wregister')" type="button" class="btn btn-primary">Registro de Trabajadores</button>
    </div>
    <div class="col">
        <button (click)="goToPage('BaggageToFlight')" type="button" class="btn btn-secondary">Registro de Maletas</button>
    </div>
    <div class="w-100"></div>
    <div class="col">
        <button (click)="goToPage('Assbagcart')" type="button" class="btn btn-success">Asignacion de BagCart</button>
    </div>
    <div class="col">
        <button (click)="goToPage('Genpdf')" type="button" class="btn btn-warning" disabled>Reporte PDF</button>
    </div>
</div>
