<form class="py-5 bg-gradient">
    <div class="container w-75 bg-gradient mt-5 rounded shadow">
        <div class="row align-items-stretch">
          <div class="col bg d-none d-lg-block col-md-5 col-xl-6 rounded">
    
          </div>
          <div class="col bg-white p-5 rounded-end">
            <div class="text-end">
              <img src="assets/images/logoo.png" width= "150" alt="">
            </div>
            <h2 class="fw-bold">Le damos la bienvenida a TABAS-Admin </h2>
         
        <!-- Creación de espacios para Sign in-->
            <form action="#">
            <div class="class mb-4">
                <label for="name" class="form-label">Nombre</label>
                <input type="name" class="form-control" name="name">
            </div>
            <div class="class mb-4">
              <label for="name" class="form-label">Apellidos</label>
              <input type="name" class="form-control" name="name">
            </div>
            <div class="class mb-4">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="mb-4">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" name="password">
              </div>            
            <div class="class mb-4">
              <label for="number" class="form-label">Cédula</label>
              <input type="number" class="form-control" name="number">
            </div>

            <div class="class mb-1">
                <label for="role" class="form-label">Ingrese su rol</label>
            </div>

            <select class="form-select mb-4" aria-label="Default select example">
                <option selected>Seleccione su rol</option>
                <option value="1">Administrador (a)</option>
                <option value="2">Scan</option>
                <option value="3">Embarcador (a)</option>
                <option value="4">Recepcionista</option>
            </select>

            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>

          </form>
          
          </div>
        </div>
        
    </div>
      
</form>